body {
	margin: 0 auto;
}

main {
	margin: 0 auto;
  max-width: 90em;
}

.logo img {
	max-width: 18em;
	height: auto;
}


.logo {
	max-width: 100%;
	height: auto;
	margin-left: 1em;
	margin-bottom: 0em;
	margin-top: 1em;

}

h1 {
	font-size: 1.2em;
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #999;
}

.logo {
 margin-bottom: 0;
 margin-top: 1em;
display: inline;
}

header {
	position: fixed;
	padding-top: 1em;
	margin-top: 0;
	background-color: #fff;
	width: 100%;
}

.nav {
	display: inline;
}

ul {

}

.photoright {
	display: inline;
	margin: 0;
	width: 100%;
	height: auto;
}

.photoleft {
	display: inline;
	float: left;
	margin: 0;
}



footer p {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: .7em;
	text-align: center;
	color: #999;
	margin-bottom: 2em;
}

@media (min-width: 58em) {

	.logo {
		float: left;
	}

main {
	width: 100%;
	margin: 0 auto;
}

.instalogo {
	width: 1.5em;
	height: auto;
	display: inline-block;
	float: right;
	padding-top: 0;
	margin-top: -3.3em;
	padding: 1em;
	margin-left: 0;
}

.linkedinlogo {
	width: 1.1em;
	height: auto;
	display: inline-block;
	float: right;
	margin-top: -3.2em;
	padding: 1em;
	margin-right: -1em;;
}

#resume {
	margin-top: 5em;
}

}

@media (max-width: 58em) {

.instalogo {
		display: none;
	}

	.linkedinlogo {
			display: none;
		}

main {
	max-width: 100vw;

margin: 0 auto;
}
#resume {
	margin-top: 8em;
}

.portfolio-pic img {
max-width: 20em;
height: auto;
}

img {
	max-width: 100%;
	height: auto;
 	text-align: center;
 	margin-top: 0;
 	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}


.nav {
	margin: auto -1.1em;
	display: inline;
	margin-top: 0em;
	}

.nav a {
	font-size: .8em;
}

ul {
	/* text-align: center; */
	background-color: #fff;
	padding-bottom: .5em;
	padding-top: 0em;
	margin-left: 0em;
}

li {
	padding: .3em;
}

header {
	position: fixed;
	top: 0;
	background-color: #fff;
	width: 100%;
	margin-bottom: 0;
	}

}

nav {
	margin-top: 0;
}

ul {
	margin-left: 0em;
}

.nav {
	font-family: "Arial Narrow", "Arial", sans-serif;
	font-size: .8em;
	text-transform: uppercase;
	list-style: none;
	line-height: 2.5em;
	display: inline;
	margin-left: 1em;
	margin-top: 0em;
	color: #999;
}

.nav a {
	text-decoration: none;
	color: #999;
}

.nav a:hover {
	color: #f2ddc8;
}

.photoright {
	display: inline;
	margin: 0;
	width: 100%;
	height: auto;
}

.photoleft {
	display: inline;
	float: left;
	margin: 0;
}


.varieties {
	position: absolute;
	}

.soon {
	font-family: "Helvetica-Light", sans-serif;
	font-size: 1.2em;
	color: #000;
	line-height: 1.5em;
	margin-left: 2.5em;
	max-width: 33em;
}

h2 {
	font-family: "Baskerville", "Georgia", serif;
	color: #d93b27;
	margin-bottom: .5em;
}

.award {
	font-family: "Helvetica", sans-serif;
	font-size: 1em;
	color: #000;
	list-style: none;
	line-height: 1.3em;
}

.years {
	font-family: "Helvetica-Light", sans-serif;
	font-weight: normal;
	font-size: 1em;
	color: #999;
	list-style: none;
	line-height: 1.3em;
}

.reference {
	font-family: "Helvetica-Light", sans-serif;
	font-size: 1.2em;
	color: #000;
	line-height: 1.5em;
	margin-left: 2.5em;
	max-width: 33em;
	}

h3 {
	font-family: "Helvetica", sans-serif;
	color: #000;
	margin-bottom: -.25em;
}

.description {
	font-family: "Helvetica", sans-serif;
	font-size: 1em;
	color: #000;
	line-height: 1.5em;
	margin-left: 2.5em;
	max-width: 40em;
}

.subs {
	font-family: "Helvetica-Light", sans-serif;
	font-size: 1em;
	color: #999;
	line-height: 1.5em;
	margin-left: 2.5em;
}

.bio {
	font-family: "Helvetica-Light", sans-serif;
	font-size: 1.2em;
	color: #000;
	line-height: 1.5em;
	margin-left: 2.5em;
	max-width: 33em;
}

.topbutton a {
	font-family:  "Arial Narrow", "Arial", sans-serif;;
	font-weight: normal;
	font-size: 1.2em;
	text-align: right;
	color: #999;
	margin-left: 3em;
	text-decoration: none;
	text-transform: uppercase;
}


h6 {
	margin-top: 3em;
	margin-bottom: 3em;
}

/* PORTFOLIO

.portfolio-pic {
	margin-left: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	float: left;
	display: block;
}
*/
