html {
	margin-left: 1em;
	margin-right: 1em;
}


body {
	margin: 2em auto;
	max-width: 60em;
	background-image: url("../yellow-pattern.png");
	background-repeat: repeat;
	background-position: center 0 0; x, y
	margin: 0;
}

img {
	display: block;
	width: 40%;
	height: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: auto;
	margin-right: auto;
}


nav {
	margin: 0;
	z-index: 0;
}

main {
	margin-left: 1em;
	/* background-color: #fff; */
}

@media (max-width: 40em) {

li {
	padding: 50%;
}

body {
	font-size: 70%;
}

}

li:hover {
	color: #e7bc20;
}

li {
	list-style: none;
	display: inline-block;
	font-family: "Verdana", "Helvetica", sans-serif;
	color: #666;
	padding: .3em 1.25em .3em 1.25em;
}

ul {
	text-align: center;
	
}

a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-family: "RockwellStd-Light", "Times New Roman", serif;
	font-weight: normal;
	color: #e7bc20;
	text-align: left;
	font-size: 2em;
}

.topbutton {
	font-family: "Verdana", "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 1em;
	text-align: right;
	color: #cc87f2;
}

.history-p {
	font-family: /* "Verdana", */ "Helvetica", sans-serif;
	color: #666;
	font-weight: bold;
	font-size: 2em;
	text-align: justify;
}

.schools {
	font-family: "Chalkboard", "Helvetica", sans-serif;
	font-size: 1.3em;
	color: #e02316;
}

.midwest {
	font-family: "CopperplateGothicStd-30AB", "Times New Roman", serif;
	color: #89755d;
	font-size: 1.5em;
}


.uncrust {
	font-family: "Noteworthy-Bold", "Times New Roman", fantasy;
	color: #7f45d1;
}

.smucker {
	font-family: "RockwellStd-Light", "Times New Roman", serif;
	color: #cc87f2;
	font-weight: normal;
}

.love {
	font-family: "Zapfino", "Times New Roman", fantasy;
	font-size: .75em;
	color: #c8372e;
	
}

.nine {
	font-family: "STBaoliTC-Regular", "Helvetica", sans-serif;
	color: #f2c9df;
	font-size: 1.5em;
}

.names {
	font-family: "JCfg", "Times New Roman", fantasy;
	color: #0d16c4;
}

.invent {
	font-family: "CourierNewPSMT", "Times New Roman", serif;
	color: #a1c7f4;
}

.cool {
	font-family: "ArialRoundedMTBold", "Helvetica", sans-serif;
	color: #42f4c2;
	font-size: 1.5em;
}

.buzz {
	font-family: "HanziPenTC-W3", "Helvetica", sans-serif;
	color: #e51989;
	text-transform: uppercase;
}

.rad {
	font-family: "Silom", "Helvetica", sans-serif;
	text-transform: uppercase;
	color: #ef9540;
}

.uncrustable {
	font-family: "Noteworthy-Bold", "Times New Roman", fantasy;
	color: #7f45d1;
}

.tons {
	font-family: "Impact", "Helvetica", sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;
	color: #992e16;
}

.varieties img {
	float: left;
	width: 20%;
	height: auto;
	margin: auto;
}


.jelly:hover {
	background-image: url("jelly-04.tif");
}

h3 {
	font-family: "RockwellStd-Light", "Times New Roman", serif;
	font-weight: normal;
	width: 40%;
	text-align: right;
	color: #e7bc20;
	top: 1em;
	float: left;
}

/* #cc87f2 */

.descriptions {
	width: 40%;
	float: right;
	font-family: /* "Verdana", */ "Helvetica", sans-serif;
	color: #666;
	line-height: 1.5em;
}


section {
	overflow: hidden;
}
