h2 {
font-family: monospace;
font-size: 1.25em;
margin-top: 12.5em;
margin-bottom: 5.625em;
margin-left: 3.125em;
}

.line2 {
line-height: 3.125em;
}

.line8 {
line-height: 4em;
}

.perfect {
font-family: "Courier" monospace;
color: #7cf;
background-color: #eff;
padding: .0625em .188em .0625em .25em;
}

.right {
font-family: "Courier" monospace;
font-size: 2.5em;
text-transform: uppercase;
background-color: #eff;
}

.made {
font-family: "Avenir-Black" sans-serif;
font-size: 1.56em;
text-transform: uppercase;
}

.hot {
font-family: "BrushScriptMT" sans-serif;
font-size: 1.56em;
color: maroon;
background-color: #fdf7ef;
padding: .0625em .0625em .0625em .0625em;
}

.appeal {
font-family: "SignPainter-HouseScript" sans-serif;
font-size: 7.5em;
color: maroon;
}

.first {
font-family: "Arial" sans-serif;
font-size: 1.25em;
text-transform: uppercase;
color: maroon;
background-color: #080;
}

.strength {
font-family: "Arial-BoldMT" sans-serif;
font-size: 1.56em;
text-transform: uppercase;
color: maroon;
background-color: #fdf7ef;
padding: .0625em .0625em .0625em .0625em;
}

.crafted {
font-family: "Courier-Oblique" monospace;
color: white;
background-color: #7ef;
padding: .0625em .188em .0625em .25em;
}

.smthe {
font-family: "Helvetica-Light" sans-serif;
font-size: .98em;
text-transform: uppercase;
color: white;
background-color: #000;
padding: .188em .125em .125em .313em;
}

.better {
font-family: "HiraginoSans-W0" sans-serif;
font-size: 3.75em;
text-transform: uppercase;
color: #080;
background-color: #fdf7ef;
line-height: 1.5em;
margin-left: -.35em;
  padding: .25em .25em .25em .25em;
}

.effect {
font-family: "Arial-Black" sans-serif;
font-size: 1.56em;
background-color: #fdf7ef;
padding: .01em .0625em .125em .125em;
}

.future {
font-family: "Arial-Black" sans-serif;
text-transform: uppercase;
font-size: 1.88em;
background-color: #7ce;
  padding: .0625em .0625em .125em .125em;
}

.the {
font-family: "Phosphate-Inline" sans-serif;
font-size: 4.38em;
}

.news {
font-family: "Georgia" serif;
font-size: 4.38em;
color: #9dd;
}

p {
font-family: monospace;
font-size: 1.25em;
position: relative;
display: inline-block;
line-height: 1.75em;
}

.p1 {
float: left;
position: relative;
display: inline-block;
margin-left: 3.12em;
}

.p2 {
position: relative;
display: inline-block;
margin-left: 1.25em;
margin-top: 19em;
}